---
// import SearchCard from './SearchCard.astro'
---

<div data-search-overlay class="search-overlay">
	<div id="search"></div>
	<div data-toggle-search class="close-search max-lg:hidden">
		Close (or press ESC)
	</div>
</div>

<script>
	var search = Elm.Search.init({
		node: document.getElementById('search'),
	})
</script>
