---
const { product } = Astro.props
---

<div
	class="search-card">
	<img
		src={product.thumbnail}
		class="aspect-4/3 object-contain"
		alt={product.title}
	/>
	<h3>{product.title}</h3>
	<p class="mt-auto">${product.price}</p>
</div>
