<div data-search-overlay class="search-overlay">
	<div id="search"></div>
	<div data-toggle-search class="close-search max-lg:hidden">
		Close (or press ESC)
	</div>
</div>

<script>
    var searchApp = Elm.Search.init({
        node: document.getElementById('search')
    });

    document.addEventListener('toggle-search', function(event) {
        if (event.detail.isOpen) {
            setTimeout(() => {
                document.querySelector('.search-input')?.focus();
            }, 50);
        } else {
            searchApp.ports.onCloseSearch.send(null);
        }
    });
</script>
